In [ ]:
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import string
import nltk
import warnings
from google.colab import files
data_to_load = files.upload()
import io

train = pd.read_csv('training_data.csv')
#test = pd.read_csv("contestant_judgment.csv")
warnings.filterwarnings('ignore',category=DeprecationWarning)

#df['review'] = df['review'].str.replace('[^a-zA-Z#]+',' ')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Saving training_data.csv to training_data.csv

In [ ]:
#! pip install nltk

In [ ]:
#combine = train.append(test, ignore_index = True)
train.head()

        ID  ... Sentiment
0   864192  ...         1
1   523691  ...         1
2   584154  ...         0
3  1527961  ...         1
4    28609  ...         1

[5 rows x 4 columns]

In [ ]:
#removing user function
def removal_pattern(input_txt, pattern):
  r = re.findall(pattern,input_txt)
  for i in r:
    input_txt = re.sub(i,'', input_txt)
  return input_txt

In [ ]:
train["Clean"] = np.vectorize(removal_pattern)(train["Text"], "@[\w]*")

In [ ]:
train.head()

        ID  ...                                              Clean
0   864192  ...  I *heart* filling up  desk   1 it means sales ...
1   523691  ...  #SocioMat - people create prettier, younger an...
2   584154  ...                no way i dont want the tour to end
3  1527961  ...   Hi Amazing Brother! Sending Limitless (((Love...
4    28609  ...                                they are chocolate

[5 rows x 5 columns]

In [ ]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
train["Clean"] = train["Clean"].str.replace('[^\w\s]', '')

In [ ]:
# Remove Stopwords Part 1
stoplist = stopwords.words('english')
train['Clean'] = train["Clean"].apply(lambda x: " ".join(x for x in x.split() if x not in stoplist))

In [ ]:
train.head() # WORKS UP til here

        ID  ...                                              Clean
0   864192  ...      I heart filling desk 1 means sales amp 2 desk
1   523691  ...  SocioMat people create prettier younger better...
2   584154  ...                             way dont want tour end
3  1527961  ...  Hi Amazing Brother Sending Limitless Love Your...
4    28609  ...                                          chocolate

[5 rows x 5 columns]

In [ ]:
nltk.download('wordnet')
from nltk.corpus import wordnet
# Import textblob
from textblob import Word

# Lemmatize final review format
train['Clean'] = train['Clean'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
train.head()

        ID  ...                                              Clean
0   864192  ...        I heart filling desk 1 mean sale amp 2 desk
1   523691  ...  SocioMat people create prettier younger better...
2   584154  ...                             way dont want tour end
3  1527961  ...  Hi Amazing Brother Sending Limitless Love Your...
4    28609  ...                                          chocolate

[5 rows x 5 columns]

In [ ]:
# Calculate polarity
from textblob import TextBlob
train['polarity'] = train["Clean"].apply(lambda x: TextBlob(x).sentiment[0])
train['subjectivity'] = train['Clean'].apply(lambda x: TextBlob(x).sentiment[1])

NameError: ignored

In [ ]:
train.sort_values(by='polarity')

NameError: ignored

In [ ]:
train.head()